[submodule "ui"]
	path = ui
	url = https://github.com/FIPost/ui
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/FIPost/api-gateway
[submodule "pakketservice"]
	path = pakketservice
	url = https://github.com/FIPost/pakketservice
[submodule "locatieservice"]
	path = locatieservice
	url = https://github.com/FIPost/locatieservice
[submodule "personeel-service"]
	path = personeel-service
	url = https://github.com/FIPost/personeel-service
[submodule "ocelot-api-gateway"]
	path = ocelot-api-gateway
	url = https://github.com/FIPost/ocelot-api-gateway.git
